
.div {
    width: 100vw;
    height: 550px;
    border-radius: 0 0 3rem 3rem;
    background-image: linear-gradient(to bottom, rgb(48, 24, 186), rgb(55, 6, 103));
}

.blue {
    background-image: linear-gradient(to bottom, rgb(48, 24, 186), rgb(55, 6, 103));
}
