@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', verdana, sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: rgb(48, 24, 186);
  --primary-color-lte: rgba(159, 144, 248, 0.544);
  --primary-color-light: rgb(120, 132, 204);
  --sec-color: #ffe418
}

.my-box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0,0,0,.25);
}

.my-text-primary {
  color: var(--primary-color);
}

.my-text-primary-lite {
  color: var(--primary-color-light)
}

.my-border-b {
  border: .25px solid var(--primary-color-lte);
}

.my-transition {
  transition: all 400ms ease-in-out;
}

.label-bg {
  background-color: var(--primary-color-lte);
}

.my-bg-blue {
  background-color: var(--primary-color);
}

.my-bg-blue-lite {
  background-color: var(--primary-color-light);
}

.my-bg-sec {
  background-color: #e3d5fc;
}

.my-view-more:hover {
  text-shadow: 0px 0px .65px var(--primary-color);
}

.my-view-more:hover .card-icon {
  transform: translateX(.5rem);
}

.card-header:hover {
  color: var(--primary-color);
}

.my-active-link {
  border-bottom: 2px solid var(--sec-color);
}

.navlink-hover {
  transition: all .2s ease-in;
}

.navlink-hover:hover {
  color: var(--primary-color-light);
}

.getstarted-rounded {
  border-radius: 40px;
}