@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', verdana, sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: rgb(48, 24, 186);
  --primary-color-lite: rgba(159, 144, 248, 0.544);
}

.my-link:hover {
  color: #ffcd38;
}

.my-link > a:active {
  color: #e58800;
}

.my-box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0,0,0,.25);
}

.my-text-primary {
  color: var(--primary-color);
}

.my-text-primary-lite {
  color: var(--primary-color-lite)
}

.my-border-b {
  border: .25px solid var(--primary-color-lite);
}

.my-transition {
  transition: all 400ms ease-in-out;
}

.my-bg-blue-lite {
  background-color: var(--primary-color-lite);
}

.my-bg-blue {
  background-color: var(--primary-color);
}