@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', verdana, sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.my-link:hover {
  color: #ffcd38;
}

.my-link > a:active {
  color: #e58800;
}

.my-box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0,0,0,.07);
}